body {
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: rgb(226, 240, 250);
}

.clearfix:after {
    content:'';
    display: table;
    width: 100%;
    clear: both;
}

div {
    box-sizing: border-box;
}

header {
    
    background: url(../img/2-blackangel.jpg) no-repeat center top /cover;
    height: 100vh;

 }

.container {
    width: 930px;
    margin: 0px auto;
}

.logo {
    float: left;
    margin-top: 41px
}    

nav {
    float: right;
    margin-top: 50px
}

.menu {
    padding: 0px;
    margin: 0px;
    display: block;
}

.menu li {
    float: right;
    display: block;
    margin-right: 25px;
}

.menu a {
    
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff
}

.menu a:hover {
    color: yellow;
}    

.titles__first {
    margin-top: 170px;
    text-transform: uppercase;
    text-align: center;
    font-size: 41px;
    color: #fff
}

h1 {
    margin: 5;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

.button {
    background: #fed136;
    color: #484543;
    border-radius: 3px;
    display: block;
    width: 240px;
    padding: 20px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 160px
}

.title {
    padding-top: 115px;
}

.title h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.title p {
    text-align: center;
    color: #777;
    font-size: 16px;
}



.services {
    
}

th {
    background-color: rgb(139, 193, 233);
    color: rgb(13, 45, 68);
}

 td {
   border: 1px solid rgb(139, 193, 233);
   color: rgb(13, 45, 68);
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3, h4 {
     background-color: rgb(36, 126, 193);
    color: white;
}



.services__item {
    width: 700px;
    text-align: center;
}

.services__item h3 {
    font-size: 18px;
    margin-bottom: 5px;

}

.services__item p {
    color: #fff;
    font-size: 14px;
    line-height: 1.55em;
}

.services__item:last-child {
    float: right;
}

.services__item:nth-child(2) {
    margin-left: 150px;
}

#services {
    padding-bottom: 120px;
}

#portfolio {
    background: #f7f7f7
    padding-bottom: 120px;
}

.works {
    margin-top: 70px;
}

.works img {
    float: left;
}

.works img:nth-child(2) {
    margin-left: 215px;
}

.works img:last-child {
    float: right;
}